# Basic Statistics-2

### Question 1

 Look at the data given below. Plot the data, find the outliers and find out  μ,σ,σ^2

Name of company	Measure X
Allied Signal	24.23%
Bankers Trust	25.53%
General Mills	25.41%
ITT Industries	24.14%
J.P.Morgan & Co.	29.62%
Lehman Brothers	28.25%
Marriott	25.81%
MCI	24.39%
Merrill Lynch	40.26%
Microsoft	32.95%
Morgan Stanley	91.36%
Sun Microsystems	25.99%
Travelers	39.42%
US Airways	26.71%
Warner-Lambert	35.00%

#### Saved the data in csv file

In [2]:
#required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [20]:
df=pd.read_csv('company.csv')

In [21]:
df

     Name of company Measure X
0      Allied Signal    24.23%
1      Bankers Trust    25.53%
2      General Mills    25.41%
3     ITT Industries    24.14%
4   J.P.Morgan & Co.    29.62%
5    Lehman Brothers    28.25%
6           Marriott    25.81%
7                MCI    24.39%
8      Merrill Lynch    40.26%
9          Microsoft    32.95%
10    Morgan Stanley    91.36%
11  Sun Microsystems    25.99%
12         Travelers    39.42%
13        US Airways    26.71%
14    Warner-Lambert    35.00%

In [22]:
df.columns

Index(['Name of company', 'Measure X'], dtype='object')

In [23]:
df.head(2)

  Name of company Measure X
0   Allied Signal    24.23%
1   Bankers Trust    25.53%